# игнорируем все рекурсивно, т.е. каждый файл и каталог с корня репозитория
*

# */ - игнорируем все в (корневой) папке, но НЕ рекурсивно.
# разрешаем подпапки
!*/ 
 
# уже на рарешённые подпапки отключаем игнор определённых файлов (иначе игнор на содержимое не будет работать, если действует игнор на папку)
!*.cpp
!*.h
!*.md
!CMakeLists.txt
!.gitignore
/CMakeFiles 